.hero-container {
    display: grid;
    grid-template-areas:
        "box-title box-img"
        "box-desc box-img";
    grid-template-columns: 1fr 1fr;
    padding-inline: clamp(1rem, 5%, 4rem);
    gap: var(--space-md);
    padding-block: var(--space-lg);
}

.hero-txt{
    max-width: var(--content-max-width);
    background-color: gray;
    border-radius: 10px;
    padding-inline: var(--space-xs);
    padding-bottom: var(--space-xs);
}

.hero-title {
    grid-area: box-title;
    font-size: var(--font-size-xl);
    padding-bottom: var(--space-xs);
}

.hero-desc {
    grid-area: box-desc;
    font-size: var(--font-size-lg);
}

.hero-image {
    grid-area: box-img;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-container {
        grid-template-areas:
            "box-title"
            "box-img"
            "box-desc";
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-image {
        margin: 0 auto; /* Bild horizontal zentrieren */
    }
}
