.container-impressum {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  background-color: rgb(34, 42, 60);
  border-radius: 12px;
  padding: clamp(1rem, 3vw, 3rem);
  line-height: 1.6;
}


.container-impressum p{
  padding-bottom: 0.2rem;
}

.law-wrapper p:not(:has(strong)){
  padding-bottom: 1rem;
}