.container-impressum{
  font-size: 40px;
  margin-left: 2rem;
  background-color: rgb(34, 42, 60);
  border-radius: 12px;
  padding: clamp(0.5rem, 1rem, 4rem);
}

.container-impressum p{
  padding-bottom: 0.2rem;
}