.pcard-container{
    display: grid;
    grid-template-areas: 
        "box-content box-img";
    grid-template-columns: 1fr 1fr;
    padding-inline: clamp(1rem, 5%, 4rem);
    padding-bottom: 1rem;
    gap: var(--space-md);
    width: 100%;
    max-width: 100%;
}

.pcard-container img{
    max-width: 100%;
    height: auto;
}

.pcard-container {
  min-width: 100%;
}

.pcard-txt {
  max-height: none;
  overflow: visible;
}


@media (max-width: 768px) {
  .pcard-txt {
    max-height: 180px;      /* kannst du feinjustieren */
    overflow-y: auto;
    padding-right: 0.5rem; /* Platz für Scrollbar */
  }

  /* Optional: schöner Scrollbar-Look */
  .pcard-txt::-webkit-scrollbar {
    width: 6px;
  }
  .pcard-txt::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.25);
    border-radius: 6px;
  }
}

@media (max-width: 768px) {
    .pcard-container {
        grid-template-areas:
            "box-content"
            "box-img";
        grid-template-columns: 1fr;
    }
}
