.personal-container {
    display: grid;
    background-color: rgb(34, 42, 60);
    border: 2px solid rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    padding: clamp(0.5em, 1.5em, 2em);
    padding-inline: clamp(0.5em, 1em, 2em);
    grid-template-columns: 1fr;
}