.promises-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-md);
    background-color: rgb(1, 92, 207);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-inline: clamp(1rem, 2%, 4rem);
    border: 1px solid red;
    justify-content: center;
}