.promises-container{
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: rgba(1, 92, 207, 0.75);
    padding: 2rem;
    justify-items: center;
}