.service-card {
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    border-radius: 10px;
    max-width: 400px;
    padding-inline: clamp(1rem, 2%, 4rem);
    padding: 1.5rem;
}

.card-img {
    display: block;
    width: 100%;
    max-height: 200px;
    padding-bottom: 1rem;
}