.service-container {
    text-align: center;
    padding-inline: clamp(1em, 1em, 2em);
}

.service-title {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 400;
}

.service-grid{
    display: grid;
    gap: clamp(0.5rem, 1rem, 2rem);
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
