.service-container {
    text-align: center;
    padding-inline: clamp(1em, 1em, 2em);
}

.service-title {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 400;
}

.service-grid {
    display: grid;
    gap: clamp(0.5rem, 1.5rem, 2rem);
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

@media (max-width: 1100px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}
