.service-container {
    display: grid;
    justify-content: center;
    text-align: center;
}

.service-title {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 400;
}

.service-grid {
    display: grid;

}