.service-card {
    background: rgb(245, 247, 250);
    color: rgb(28, 35, 50);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);

    max-width: 500px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-img {
    display: block;
    width: 100%;
    max-height: 200px;
    padding-bottom: 1rem;
    border-radius: 12px;
}

.service-card p{
    padding-inline: 2%;
    padding-bottom: 0.5rem;
}