.service-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.service-title {
    text-align: center;
    font-size: 8dvh;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(400px, 400px)
    );
    gap: 2rem;
    justify-content: center;
}