.header-sec {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /*vertical*/
    background-color: white;
    margin: 0 auto;
}

.hero-sec {
    padding: 1rem 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
}


.promise-sec {
    background-color: red;
}