.header-sec {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /*vertical*/
    background-color: white;
    margin: 0 auto;
}

.promise-sec{
    background-color: red;
}