.promises-wrapper {
    padding-top: 1rem;
    padding-inline: clamp(0.5rem, 1rem, 2rem);
}

.service-wrapper {
    padding-inline: clamp(0.5rem, 1rem, 2rem);
    padding-top: clamp(1rem, 2rem, 4rem);
}

.comp-name{
    color: #4747ff;
}

.logo-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: clamp(1rem, 3vw, 2rem);
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
}

@media (max-width: 480px) {
  .logo-wrapper {
    width: 90%;          /* ❗ Container wird schmaler als Viewport */
    max-width: 320px;   /* ❗ harte Grenze für Mobile */
    padding: 0.75rem;
  }
}


.logo-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}
