@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    line-height: 1.5;
    color: rgb(236, 239, 242);
    background-color: rgb(28, 35, 50);
}

:root {
    /* Layout */
    --content-max-width: 1400px;
    --page-padding: clamp(1rem, 5%, 4rem);

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;

    /* Typography */
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: clamp(1.5rem, 4vw, 3rem)

}

.App{
    padding-bottom: clamp(1.5rem, 4rem, 4rem);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}

p {
    margin: 0;
}

.page-container {
    max-width: var(--content-max-width);
    margin-inline: auto;
    padding-inline: var(--page-padding);
}
