@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(236, 239, 242);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h1{
  font-size: 2rem;
  font-weight: 700;
}

h2{
  font-size: 1.5rem;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}